---
import GitHub from "./icons/GitHub.astro"
import Javascript from "./icons/Javascript.astro"
import Typescript from "./icons/Typescript.astro"
import React from "./icons/React.astro"
import Tailwind from "./icons/Tailwind.astro"
import NestJS from "./icons/NestJS.astro"
import Expres from "./icons/Expres.astro"
import Golang from "./icons/Golang.astro"
import NodeJS from "./icons/NodeJS.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import MongoDB from "./icons/MongoDB.astro"
import Cloudinary from "./icons/Cloudinary.astro"
import SocketIO from "./icons/SocketIO.astro"
import DaisyUI from "./icons/DaisyUI.astro"
import JWT from "./icons/JWT.astro"
import Next from "./icons/Next.astro"
import Gemini from "./icons/Gemini.astro"
import Prisma from "./icons/Prisma.astro"
import tRPC from "./icons/tRPC.astro"
import shadcn from "./icons/shadcn.astro"
import Inngest from "./icons/Inngest.astro"
import BetterAuth from "./icons/BetterAuth.astro"
import Csharp from "./icons/Csharp.astro"
import NET from "./icons/NET.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-white dark:bg-[#E8D72A] text-black",
    icon: Javascript,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: Typescript,
  },
  REACT: {
    name: "React",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: React,
  },
  TAILWIND: {
    name: "TailwindCSS",
    class: "bg-white text-black dark:bg-[#003159] dark:text-white",
    icon: Tailwind,
  },
  NESTJS: {
    name: "NestJS",
    class: "bg-[#003159] text-white",
    icon: NestJS,
  },
  EXPRESJS: {
    name: "Expres.js",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: Expres,
  },
  GOLANG: {
    name: "Golang",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: Golang,
  },
  NODEJS: {
    name: "NodeJS",
    class: "bg-white text-black dark:bg-[#1f592f] dark:text-white",
    icon: NodeJS,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#003159] text-white",
    icon: PostgreSQL,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-white text-black dark:bg-[#1f592f] dark:text-white",
    icon: MongoDB,
  },
  CLOUDINARY: { 
    name: "Cloudinary",
    class: "bg-white text-black dark:bg-[#2d144f] dark:text-white",
    icon: Cloudinary,
  },
  SOCKETIO: { 
    name: "Socket.io",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: SocketIO,
  },
  DAISUI: { 
    name: "DaisyUI",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: DaisyUI,
  },
  JWT: { 
    name: "JWT",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: JWT,
  },
  NEXT: { 
    name: "Next",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: Next,
  },
  GEMINI: {
    name: "Gemini",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: Gemini,
  },
  Prisma: {
    name: "Prisma",
    class: "bg-dark text-black dark:bg-black dark:text-white",
    icon: Prisma,
  },
  tRPC: {
    name: "tRPC",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: tRPC,
  },
  Inngest: {
    name: "Inngest",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: Inngest,
  },
  shadcn: {
    name: "Shadcn",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: shadcn,
  },
  BetterAuth: {
    name: "BetterAuth",
    class: "bg-white text-black dark:bg-black dark:text-white",
    icon: BetterAuth,
  },
  CSHARP: { 
    name: "C#",
    class: "bg-white text-black dark:bg-[#2d144f] dark:text-white",
    icon: Csharp,
  },
  NET: { 
    name: ".NET",
    class: "bg-white text-black dark:bg-[#2d144f] dark:text-white",
    icon: NET,
  }
}
const PROJECTS = [
  {
  titleKey: "projects.omnicli.title",
  descriptionKey: "projects.omnicli.description",
  title: "OmniCLI - An AI agent for your terminal",
  description: "An AI agent for your terminal, based on Claude Code and OpenCode.",
    image: "/projects/OmniCLI.png",
    tags: [TAGS.GOLANG, TAGS.GEMINI],
  github: "https://github.com/Zheng5005/OmniCLI"
  },
  {
  titleKey: "projects.codereview.title",
  descriptionKey: "projects.codereview.description",
  title: "CodeReview - An AI reviewer for yours PR",
  description: "An app where you can use GEMINI as a reviewer for your PRs, classifying them in different priorities",
    link: "https://code-reviewer-lemon-phi.vercel.app/",
    image: "/projects/Codereviewer.jpeg",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.POSTGRESQL, TAGS.GEMINI, TAGS.Prisma, TAGS.tRPC, TAGS.Inngest, TAGS.shadcn, TAGS.BetterAuth],
  github: "https://github.com/Zheng5005/code_reviewer"
  },
  {
  titleKey: "projects.blendz.title",
  descriptionKey: "projects.blendz.description",
  title: "Blendz - A language exchange app",
  description: "An app where you can find friends and learn another language, with getStream intregration to handle chat and video calls features",
    link: "https://blendz-v0.vercel.app/",
    image: "/projects/Blendz.png",
    tags: [TAGS.GOLANG, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.CSHARP, TAGS.NET, TAGS.MONGODB, TAGS.TAILWIND, TAGS.DAISUI, TAGS.JWT],
  github: "https://github.com/Zheng5005/Blendz_v0"
  },
  {
    titleKey: "projects.echoes.title",
    descriptionKey: "projects.echoes.description",
    title: "Echoes - A real time chat app",
    description:
      "A Whatsapp-like app with real time features, with Cloudinary integration to handle images uploading and Socket.io integrations to handle real-time comunication",
    link: "https://echoes-ekfs.onrender.com",
    image: "/projects/Echoes.png",
    tags: [TAGS.MONGODB, TAGS.JAVASCRIPT, TAGS.EXPRESJS, TAGS.CSHARP, TAGS.NET, TAGS.REACT, TAGS.NODEJS, TAGS.TAILWIND, TAGS.CLOUDINARY, TAGS.SOCKETIO, TAGS.JWT],
    github: "https://github.com/Zheng5005/Echoes"
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, titleKey, descriptionKey }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} alt="image" />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100" data-i18n={titleKey}>
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row flex-wrap mb-4 gap-2 sm:gap-x-2 sm:gap-y-1">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
      </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400" data-i18n={descriptionKey}>{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              <span data-i18n="projectActions.code">Code</span>
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              <span data-i18n="projectActions.preview">Preview</span>
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>
